/* nice full-page map */
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}


/* GreenInfo credits */
#ginCreditsContainer {
    cursor: pointer;
    position: absolute;
    bottom: 6px;
    left: 6px;
    z-index: 9000000;  
    background: rgba(255,255,255,0.75);
    border-radius: 3px;  
    text-decoration:none;
    color:#000;
    font: 10px/12px sans-serif;
}

#ginCreditsContainer a {
    /* text-decoration:none; */
    color:#000;
}

#ginCreditsText {
    display: inline-block;
    position: relative;
    left: 2px;  
    bottom: 7px;
}

#ginCreditsLogo {
    display: inline-block;
    height:34px;
    width:36px;
}
#ginLogo {
    float:right;
}
